{
  "name": "project",
  "local": {
    "path": "/var/www/html/htdocs/typo3/web/typo3conf/LocalConfiguration.php"
  },
  "remote": {
    "host": "ssh_host",
    "user": "ssh_user",
    "path": "/var/www/html/project/shared/typo3conf/LocalConfiguration.php"
  }
}